#home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#home-content p:last-of-type {
  margin-top: 5px;
}

#carouselFade {
  width: 100%;
}

@media (min-width: 992px) {
  #home-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
  }

  #home-content p {
    font-size: 1.1rem;
    align-self: center;
  }

  #home-content .title {
    font-size: 2.1rem;
  }
}
