#logo-img {
  width: 200px;
}

@media (min-width: 1024px) {
  #content {
    padding: 2rem 4rem;
  }

  #home-content {
    display: grid;
    grid-template-columns: 8fr 1fr;
    gap: 5rem;
    align-items: center;
    margin-bottom: 20px;
  }

  #home-content p {
    font-size: 1.5rem;
  }

  #logo-img {
    width: 250px;
  }
}
