#logo-img {
  width: 300px;
  margin-bottom: 20px;
}

@media (min-width: 1000px) {
  #home-content {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 2rem;
    align-items: start;
    margin-bottom: 20px;
  }

  #home-content p {
    font-size: 1.4rem;
    align-self: center;
  }

  #logo-img {
    width: 400px;
  }
}
