#menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  place-items: center;
  gap: 20px;
}

.menu-img {
  height: 180px;
  width: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-top: 20px;
}

.menu-item {
  width: 220px;
  height: auto;
  aspect-ratio: 1/1;
}

.menu-item p {
  text-align: center;
  color: #3f1808;
}

.menu-item {
  border-radius: 10px;
  border: 2px solid #3f1808;
}

.menu-item:hover {
  background-color: rgba(222, 255, 244, 0.699);
}

@media (min-width: 1024px) {
  div #menu-grid {
    column-gap: 1.5rem;
  }

  .menu-item {
    width: 240px;
  }

  .menu-img {
    width: 200px;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}
